.container-coaching{
    display: flex;

}

.coachingBox{
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    width: 1000px;
    height: 300px;
    
}

.libraryBox{
    height: 320px;
}

.right{
    display: flex;
    flex-direction: column;
    
}

.coaching-info{
    
    display: flex;
    justify-content: space-between;
}

img{
    height: 200px;
    width: 300px;
}
 
.dropdown-style{
    display: flex;
    justify-content: right;
}

.left{

    border: 2px solid black;
    height: 500px;
    width: 300px;
    margin: 5px;
  
}

#search{
    width: 200px;
    margin: 5px;
    padding: 5px;
}

.searchBy{
    display: flex;
    justify-content: left;
}

.btn {
    padding: 5px;
    margin: 5px;
    width: 200px;
}