.form input{
	font-family: "Roboto",sans-serif;
	outline: 1;
	background: #f2f2f2;
	width:60%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button{
   font-family: "Roboto",sans-serif;
   text-transform: uppercase;
   outline: 1;
   background: #4CAF50;
   width: 10%;
   border: 0;
   padding: 15px;
   color: #FFFFFF;
   font-size: 14px;
   cursor: pointer;
} 

.form-inputs p {
	color: red;
}

.form-label{
	width: 150px;
	
}