.container-hostel {
    display: flex;

}

.hostelBox {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    width: 1000px;
    height: 260px;
}

.right {
    display: flex;
    flex-direction: column;

}

.hostel-info {

    display: flex;
    justify-content: space-between;
}

img {
    height: 400px;
    width: 400px;
}

.dropdown-style {
    display: flex;
    justify-content: right;
}

.left {

    border: 2px solid black;
    height: 500px;
    width: 300px;
    margin: 5px;

}

#search {
    width: 200px;
    margin: 5px;
    padding: 5px;
}

.searchBy {
    display: flex;
    justify-content: left;
}

.btn {
    padding: 5px;
    margin: 5px;
}